<mat-toolbar color="primary">
    <button (click)="openSideNav()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="ml-3">Bookie Hols</span>
    <span class="spacer"></span>
    <div class="d-flex align-items-center">
      <p *ngIf="(accountService.loggedOnUser$ | async) as user">
        {{'Welcome ' + user.username}}
      </p>
      <button (click)="openDialog()" color="white" mat-button aria-label="Login button">
        Login
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </div>
</mat-toolbar>