# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.vs/BookieHols/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
BookieHols.UI/.editorconfig
BookieHols.UI/e2e/protractor.conf.js
BookieHols.UI/src/environments/environment.prod.ts
BookieHols.UI/src/environments/environment.ts
BookieHols.UI/.angular/cache/13.2.6/angular-webpack/bcb88080e2d5b6215db570fa384654065b800894/0.pack

# System Files
.DS_Store
Thumbs.db
/.angular/cache/
BookieHols.UI/e2e/src/app.e2e-spec.ts
BookieHols.UI/.angular/cache/
BookieHols.UI/node_modules/
BookieHols.API/.editorconfig
BookieHols.API/BookieHols.API/bin/
BookieHols.API/BookieHols.API/obj/project.nuget.cache
BookieHols.API/BookieHols.API/obj/staticwebassets.pack.sentinel
BookieHols.API/BookieHols.API/obj/Debug
BookieHols.API/BookieHols.API/obj/Release
BookieHols.API/BookieHols.API/.vs
BookieHols.API/.vs/BookieHols.API/v17/.suo
BookieHols.API/.vs/BookieHols.API/DesignTimeBuild/
BookieHols.API/.vs/slnx.sqlite
BookieHols.UI/dist/BookieHols/3rdpartylicenses.txt
BookieHols.UI/src/styles.css.map
BookieHols.API/.vs/BookieHols.API/v17/.futdcache.v1
BookieHols.API/.vs/VSWorkspaceState.json
Documentation.docx
~$cumentation.docx
BookieHols.API/.vs/TopWatchList.API/DesignTimeBuild/
BookieHols.API/.vs/TopWatchList.API/v17/.futdcache.v1
