@use '@angular/material' as mat;

// Adding the Angular Material Core Mixin
@include mat.core();

// Adjusting the focus of components to make the focus more obvious and make it more accessible 
@include mat.strong-focus-indicators((
  border-style: dotted,
  border-width: 4px,
  border-radius: 2px,
));

// Defining custom theme colours

$custom-indigo: (
 50: #f3e5f5,
 100: #e1bee7,
 200: #ce93d8,
 300: #ba68c8,
 400: #ab47bc,
 500: #9c27b0,
 600: #8e24aa,
 700: #7b1fa2,
 800: #6a1b9a,
 900: #4a148c,

 // Defining the contrast colours. These are used in the text that is displayed in the foreground
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white
 )
);

$custom-green: (
 50: #f2f8e7,
 100: #deedc3,
 200: #c9e19c,
 300: #b2d574,
 400: #a1cc53,
 500: #90c331,
 600: #80b429,
 700: #6ba01e,
 800: #568c14,
 900: #2f6a00,

 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(black, 0.87),
   500: white,
   600: white,
   700: white,
   800: white,
   900: white
 )
);

$custom-primary: mat.define-palette($custom-indigo);
$custom-accent: mat.define-palette($custom-green);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn
  )
));

@include mat.core-theme($custom-theme);

// Angular Material Component Themes
@include mat.button-theme($custom-theme);
@include mat.toolbar-theme($custom-theme);
@include mat.icon-theme($custom-theme);
@include mat.sidenav-theme($custom-theme);

