<div *ngIf="!register">
    <h1 mat-dialog-title>Login</h1>
    <div mat-dialog-content>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter Password..">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-2">
        <p class="d-flex justify-content-center">No account? <span role="link" tabindex="0" class="register-link" (keydown.enter)="register=true" (click)="register=true">Register</span></p>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button>Cancel</button>
        <button mat-button cdkFocusInitial>Login</button>
    </div>
</div>
<div *ngIf="register">
    <h1 mat-dialog-title>Register</h1>
    <div mat-dialog-content>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input 
                matInput 
                type="password" 
                placeholder="Enter Password.."
                matTooltip="Must contain: 1 digit, 1 lowercase, 1 uppercase Minimum length: 6 characters"
                matTooltipPosition="above">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-2">
        <p class="d-flex justify-content-center">Already have an account? <span role="link" tabindex="0" class="register-link" (keydown.enter)="register=false" (click)="register=false">Login</span></p>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button>Cancel</button>
        <button mat-button cdkFocusInitial>Register</button>
    </div>
</div>

